#edit-list-page {
  display: flex;
  flex-direction: column;
  background: #feffff;
  min-height: 640px; /* to make white background extend at least 640px for large screens */
}

/* For small screens, background should be white */
@media screen and (max-width: 768px), (max-height: 689px) {
  #edit-list-page {
    height: 100%; /* need this so #feffff background color extends entire screen */
    min-height: 100vh; /* need this so #feffff background color extends entire screen, even if content doesn't extend entire screen  */
  }
}

.edit-list-title {
  font-weight: 100;
  background: #feffff;
  color: #172528;
  border-radius: 10px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.1em;
  position: relative;
  padding-bottom: 0.1em;
  top: 30%;
}

.edit-list-header {
  height: 80px;
}

.edit-list-header-content {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  transform: translate(0, -50%);
}
