.edit-list-header i {
  font-size: 30px !important;
}

.top-bar i {
  color: #feffff;
}

.edit-list-header {
  height: 80px;
}

.edit-list-header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  top: 48%;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

.list-name {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.list-name input[type="text"] {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  position: relative;
  top: 12px;
  transform: translate(0, -50%);
  color: #172528;
  line-height: 2.2em;
  font-size: 18px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border: none;
  outline: none;
}

.confirm-edit-list {
  margin-right: 18px !important;
}

.edit-list-name-label {
  visibility: hidden;
}

/* get rid of default input outline on hover and click */
.list-name input:hover,
.list-name input:focus,
.list-name input:active {
  outline: solid #91c6c3;
}
