.selected i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #33aaaa;
  }
  
  div.selected {
    background: #feffff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  }