p.set-note-text {
  inline-size: 232px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* For large screens, make additional notes text wider */
@media screen and (min-width: 769px) and (min-height: 690px) {
  p.set-note-text {
    inline-size: 380px !important;
  }
}

/* For wide screens that don't qualify as isLargeScreen, make AdditionalNotesEditor textarea wider */
@media screen and (min-width: 361px) {
  p.set-note-text {
    inline-size: 698px !important;
  }
}

/* To make all text appear initally in additional notes bar, put text in 
a paragraph (rather than textarea) before user clicks to edit */
.set-note-before-edit {
  overflow: hidden; /* hides textarea scrollbar */
  background: #eae8e8;
  color: #172528;
  height: auto;
  font-family: "Open Sans", Calibri, sans-serif;
  padding-left: 1em;
  border-radius: 0.75em;
  padding-right: 1em;
  min-height: 0px !important;
}

/* Text before adding notes is just a placeholder, so it should have
same color as placeholder text */
.no-notes {
  color: grey;
}
