p.set-note-text {
  inline-size: 232px;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* To make all text appear initally in additional notes bar, put text in 
a paragraph (rather than textarea) before user clicks to edit */
.set-note-before-edit {
  overflow: hidden; /* hides textarea scrollbar */
  background: #eae8e8;
  color: #172528;
  height: auto;
  font-family: "Open Sans", Calibri, sans-serif;
  padding-left: 1em;
  border-radius: 0.75em;
  padding-right: 1em;
  min-height: 0px !important;
}

/* Text before adding notes is just a placeholder, so it should have
same color as placeholder text */
.no-notes {
  color: grey;
}