.date-edit-background {
  background: #eae8e8;
  border-radius: 0.75em;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 108px;
  text-align: center;
}

.time-edit-background {
  background: #eae8e8;
  border-radius: 0.75em;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  text-align: center;
}
