.priority-options {
  /* creating icon outline */
  margin-left: 0%;
  display: flex; /* bottom three styles center the plus icon in the .add-button div */
  align-items: center;
  justify-content: space-between;
}

.priority-option {
  font-size: 15px;
  width: auto;
}

.selected-priority,
.unselected-priority {
  border-radius: 0.75em;
  padding: 0px 1px 0px 1px;
  text-align: center;
}

.selected-priority {
  background: #eae8e8;
}

.unselected-priority {
  background: #feffff;
  border: #feffff 2px solid;
}

/* For wider screens, make priority option buttons wider */
@media screen and (min-width: 295px) {
  .selected-priority,
  .unselected-priority {
    padding: 0px 3px 0px 3px;
  }
}

@media screen and (min-width: 310px) {
  .selected-priority,
  .unselected-priority {
    padding: 0px 5px 0px 5px;
  }
}

@media screen and (min-width: 360px) {
  .selected-priority,
  .unselected-priority {
    padding: 0px 10px 0px 10px;
  }
}

@media screen and (min-width: 450px) {
  .selected-priority,
  .unselected-priority {
    padding: 0px 20px 0px 20px;
  }
}

.selected-none {
  border: #91c6c3 2px solid;
}

.selected-low {
  border: #979dc7 2px solid;
}

.selected-medium {
  border: #ffbd52 2px solid;
}

.selected-high {
  border: #ed554a 2px solid;
}
