.priority-options { /* creating icon outline */
  width: 98.5%;
  margin-left: 0%;
  height: 33px;
  display: flex; /* bottom three styles center the plus icon in the .add-button div */
  align-items: center;
  justify-content: space-between;
  justify-self: start;
}

.priority-option {
  font-size: 15px;
}

.selected-priority {
  background: #eae8e8;
  border-radius: 0.75em;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

.unselected-priority {
  background: #FEFFFF;
  border-radius: 0.75em;
  padding: 12px 12px 12px 12px;
  text-align: center;
}