#task-page {
  display: flex;
  flex-direction: column;
  background: #feffff;
  min-height: 640px; /* to make white background extend at least 640px for large screens */
}

/* For small screens, background should be white */
@media screen and (max-width: 768px) {
  #task-page {
    height: 100%; /* need this so #feffff background color extends entire screen */
    min-height: 100vh; /* need this so #feffff background color extends entire screen, even if content doesn't extend entire screen  */
  }
}

#task-page hr {
  border: thin solid #91c6c3;
  /* need to set margin-left and margin-right to 0 so horizontal line displays properly with CSS Flexbox */
  /* https://stackoverflow.com/questions/34365271/hr-inside-container-with-display-flex-become-corrupted */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.7em;
  margin-top: 0;
}
