.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 360px;
    background-color: rgba(9, 15, 16, .4);
    z-index: 10;
}

.alert {
    background-color: #feffff;
    color: #17252a;
    border-radius: 7pt;
    margin: 0 auto;
    top: 35%;
    height: 100px;
    width: 200px;
    position: relative;
    padding: 3%;
}

.alert-description {
    margin-top: 2px;
    font-weight: 600;
    text-align: center;
}

.alert-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.alert-button {
    padding: 10px;
    width: 35%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    color: #feffff;
}

.alert-cancel {
    background: #2b7a78;
}

.alert-delete {
    background: #ed554a;
}