/* first two styles are for sticky search bar */
.search-background {
  position: sticky;
  top: 0;
  height: 60px;
  padding-left: 5%;
  padding-right: 1%;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-bottom: 0.2em;
  z-index: 1; /* set z-index: 1 so checkboxes don't overlap with sticky search bar */
  background: #2b7a78;
  align-items: space-between;
  align-items: center;
  display: flex;
}

/* first two styles are for sticky searchbar */
.search {
  position: sticky;
  top: 0;
  flex-grow: 1; /* make search bar width responsive since its within the search-background flexbox */
  border-radius: 20px;
  background: #eae8e8;
  color: #bab2b5;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  display: flex;
  align-items: center;
}

.search i {
  margin-left: 0.8em;
  font-size: 19px !important;
}

/* get rid of default input outline on hover and click */
.search input:hover,
.search input:active {
  outline: none;
}

.search-label {
  display: none;
}

/* first two styles are for sticky searchbar */
.search input[type="text"] {
  position: sticky;
  background: #eae8e8;
  color: #172528;
  line-height: 0.5em;
  font-size: 15px;
  font-family: "Open Sans", Calibri, sans-serif;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  margin-left: 1em;
  border: none;
  outline: none;
  width: 72%;
}

@media screen and (min-width: 400px) {
  .search input[type="text"] {
    width: 80%;
  }
}

@media screen and (min-width: 525px) {
  .search input[type="text"] {
    width: 85%;
  }
}

@media screen and (min-width: 790px) {
  .search input[type="text"] {
    width: 90%;
  }
}
