/* margin-left: auto and margin-right: auto and width: 90% are to center list of lists, leaving 5% width on each side */
.list-of-lists {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1.4em;
  margin-bottom: 100px; /* so that plus button doesn't cover edit task icon */
}

.large-screen-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  width: 230px;
}

.no-lists-message {
  width: 100px;
  margin-left: auto;
  margin-top: 200px;
  margin-right: auto;
  font-weight: 500;
  font-size: 16pt;
  color: grey;
  text-align: center;
}
