.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 97.5%;
  display: flex;
  align-items: flex-start;
}

.side-bar {
  width: 220px;
  padding-right: 2.25em;
  height: calc(100vh - 60px); /* Top Bar is 60px */
}

.vertical-divider {
  border-right: #bab2b5 1.5px solid; /* vertical line dividing Side Bar from Large Screen Subpage */
  height: calc(
    100vh - 60px
  ); /* to make vertical line extend all the way vertically */
}

.large-screen-subpage {
  /* background: #feffff; */
  height: calc(100vh - 60px); /* Top Bar is 60px */
  flex-grow: 1;
}

.welcome-message {
  width: 100px;
  margin-left: auto;
  margin-top: 35%;
  margin-right: auto;
  font-weight: 500;
  font-size: 16pt;
  color: grey;
  text-align: center;
}

/* When LargeScreenPopup is open, make all of MainContent unscrollable */
.unscrollable {
  overflow: hidden;
}

.sidebar-header {
  font-size:12pt;
  margin-left: 7px;
  margin-bottom:4px;
  font-weight:500;
  color: #172528;
}