.large-screen-header {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.single-list-task-name {
  margin-left: 5%;
  font-size: 18px;
}

.large-screen-icons {
  position: relative; /* in order to position single list page menu absolute to this */
  display: flex;
  align-items: center;
  margin-right: 36px;
  justify-content: space-between;
}
