/* margin-left: auto and margin-right: auto and width: 90% are to center list of tasks, leaving 5% width on each side */
#list-of-tasks {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1.4em;
  margin-bottom: 50px; /* so that plus button doesn't cover edit task icon */
}

/* For large screens */
@media screen and (min-width: 769px) {
  #list-of-tasks {
    width: max(90%, calc(100% - 50px)); 
    height: auto;
  }
}

.completed-tasks-header {
  font-weight: 500;
  margin-left: 5px;
  color: #172528;
}

.empty-message {
  width: 100px;
  margin-left: auto;
  margin-top: 200px;
  margin-right: auto;
  font-weight: 500;
  font-size: 16pt;
  color: grey;
  text-align: center;
}

.all-completed-message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
  text-align: center;
}