/* margin-left: auto and margin-right: auto and width: 90% are to center list of tasks, leaving 5% width on each side */
#list-of-tasks {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 1.4em;
  margin-bottom: 50px; /* so that plus button doesn't cover edit task icon */
}

.completed-tasks-header {
  font-weight: 500;
  margin-left: 5px;
  color: #172528;
}