#single-list-page h2 {
  font-weight: normal;
}

/* Single List Page Menu Mode Styles */
/* place overlay of black background with lightened opacity over rest of page */
.single-list-menu-mode-overlay {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  position: fixed; /* make list unscrollable, and make black overlay extend at least to top bar */
  background: black;
  opacity: 12%;
  height: 100%;
}

/* For large screens */
@media screen and (min-width: 769px) and (min-height: 690px) {
  #single-list-page {
    /* Vertical divider between LargeScreenSideBar and LargeScreenSubpage */
    border-left: #bab2b5 1.5px solid;
    min-height: 100vh;
  }
}
