#single-list-page h2 {
  font-weight: normal;
}

/* Single List Page Menu Mode Styles */
/* place overlay of black background with lightened opacity over rest of page */
.single-list-menu-mode-overlay {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  position: fixed; /* make list unscrollable, and make black overlay extend at least to top bar */
  background: black;
  opacity: 12%;
  height: 100%;
}

/* For large screens: >= 769px wide */
.large-screen-header {
  display: flex;
  align-items: center;
  margin-top:2px;
}

.single-list-task-name {
  margin-left: 5%;
  font-size: 18px;
}

.large-screen-icons {
  position: relative; /* in order to position single list page menu absolute to this */
  display: flex;
  align-items: right;
  width: 110px;
  margin-right: 36px;
  justify-content: space-between;
}
