/* Color Palette:
  - Charleston Green (#172528) - main font color, single list page menu mode icon color
  - Black Shadows (#BAB2B5) - some list icons, home page list card box shadows, search bar magnifying glass icon color
  - *Platinum (#EAE8E8) - app background
  - White (#FEFFFF) - title font color + icon, list item card background, search bar
  - *Azure X 11 Web Color (#DEF2F1) - top bar icon color when active
  - Opal (#91C6C3) - edit task header icons and horizontal line
  - Verdigris (#33AAAA) - add button
  - Myrtle Green (#2B7A78)- top bar header background, icon color when pressed
  - Yellow (#ebc323) - edit pencil icon
  - Red (#ed554a) - delete trashcan icon
  - Purple/blue (#979DC7) - low priority
  - Orange/yellow (#FFBD52) - medium priority
*/

/* Global Styles */
i {
  color: #bab2b5;
}

/* all icons should slightly decrease in size when clicked to look like they're being pressed */
i:active {
  transform: scale(0.98);
}

/* set margin of html, body, h1 to 0 so top bar extends to top of page,
  and also so there isn't extra margin on left and right for top bar and bottom toolbar. */
html,
body {
  background: #eae8e8;
  font-family: "Open Sans", Calibri, sans-serif;
  margin: 0;
}

/* For large screens, background should be white */
@media screen and (min-width: 769px) {
  html,
  body {
    background: #feffff;
  }
}

h1 {
  font-size: 25px;
  color: #feffff;
  margin: 0;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 35px;
  color: #172528;
}

.top-bar i {
  font-size: 26px;
}

/* margin-right auto makes single list icon + list name flush to left */
.left-aligned {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.left-aligned i {
  padding-right: 0.5em;
}

/* margin-left auto makes three dots icon flush to right */
.right-aligned {
  margin-left: auto;
}

.right-aligned i {
  padding-left: 0.5em;
}

/* Grayed-out styling for save checkmark, for when user has not yet entered all required info  */
#no-info {
  color: #bab2b5 !important;
}
