/* Color Palette:
  - Charleston Green (#172528) - main font color, single list page menu mode icon color
  - Black Shadows (#BAB2B5) - some list icons, home page list card box shadows, search bar magnifying glass icon color
  - *Platinum (#EAE8E8) - app background
  - White (#FEFFFF) - title font color + icon, list item card background, search bar
  - *Azure X 11 Web Color (#DEF2F1) - top bar icon color when active
  - Opal (#91C6C3) - edit task header icons and horizontal line
  - Verdigris (#33AAAA) - add button
  - Myrtle Green (#2B7A78)- top bar header background, icon color when pressed
  - Yellow (#ebc323) - edit pencil icon
  - Red (#ed554a) - delete trashcan icon
  - Purple/blue (#979DC7) - low priority
  - Orange/yellow (#FFBD52) - medium priority
*/

/* Global Styles */
i {
  color: #bab2b5;
}

/* all icons should slightly decrease in size when clicked to look like they're being pressed */
i:active {
  transform: scale(0.98);
}

/* set margin of html, body, h1 to 0 so top bar extends to top of page,
  and also so there isn't extra margin on left and right for top bar and bottom toolbar. */
html,
body {
  background: #eae8e8;
  font-family: "Open Sans", Calibri, sans-serif;
  margin: 0;
}

@media screen and (min-width: 769px) {
  html,
  body {
    background: #feffff;
  }
}

.top-bar i {
  font-size: 26px !important;
}

h1 {
  font-size: 25px;
  color: #feffff;
  margin: 0;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 35px;
  color: #172528;
}

/* margin-right auto makes single list icon + list name flush to left */
.left-aligned {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.left-aligned i {
  padding-right: 0.5em;
}

/* margin-left auto makes three dots icon flush to right */
.right-aligned {
  margin-left: auto;
}

.right-aligned i {
  padding-left: 0.5em;
}

/* Delete toolbar for deleting on Edit Task Page  + Edit List Page */
/* first three styles are for sticky toolbar */
.delete-toolbar {
  bottom: 0;
  position: fixed; /* use fixed instead of sticky so toolbar is at bottom even if we don't have that many lists */
  width: 100%;
  height: 10%;
  background: #ed554a;
  color: #feffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.delete-toolbar:active {
  color: #eae8e8;
}

.delete-toolbar i {
  font-size: 23pt !important;
  color: #feffff;
}

.delete-toolbar h2 {
  margin-left: 0.5em;
}

#no-info {
  color: #bab2b5 !important;
}
